.header {
  background: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__link {
  color: white;
  text-decoration: none;
  align-items: center;
}

.header__optionBasket {
  color: white;
  text-decoration: none;
  display: flex;
  margin: 0 10px;
  /* padding-left: 100px; */
  align-items: center !important;
}

.header__basketCount {
  font-size: 13px;
  font-weight: 800;
  margin: 0 10px;
}

.header__option {
  color: white;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__search {
  display: flex;
  flex: 1;

  /* align-items: center; */
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
