.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login__container {
  width: 300px;
}

.login__logo {
  margin: 20px 0;
  width: 100px;
  object-fit: contain;
}
